body {
    background-color: #000000cb;
    font-family: "Times New Roman", serif;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #fff;

}.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    display: none;
    margin: 2rem;
    height: 100vh;

}

nav {
    background-color: #5e5a5a;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

nav a:hover {
    color: #930C10;
    text-shadow: 0 0 1px #930C10;
}

#landingSection {
    display: block;
    text-align: center;
    padding: 3rem;
}

#landingSection a{
    cursor: pointer;
    color: #fff;
}

#landingSection a:hover{
    color: #930C10;
}

button {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.secondaryTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    color: #930C10;
    font-size: 2.4rem;
    
}

p {
    color: #fff;
    font-size: 1.6rem; 
}

label {
    font-weight: bold;
    color: #fff;
    border-radius: 5rem;
}
